.about-section {
  padding: 4rem 2rem;
  background-image: url('/frontend/src/assets/farm.jpg'); 
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
  height: 80vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.content-box {
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
  padding: 2rem;
  margin: auto;
  max-width: 600px;
  border-radius: 10px; /* Optional: Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Slight shadow for depth */
  ;
}

.about-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-section p {
  font-size: 1.1rem;
  line-height: 1.6;
}

@media screen and (max-width: 600px) {
  .about-section h2 {
    font-size: 1.5rem;
  }
  
  .about-section p {
    font-size: 0.95rem;
  }
  
  .content-box {
    width: 95%;
  }
}
