// frontend/src/components/ServiceBox.scss

.service-box {
    background-color: #B4C4BC;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px; 
    transition: transform 0.2s ease;
    overflow: hidden;
  }

  .service-box img {
    max-width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
  
  .service-box h3 {
    margin-bottom: 1rem;
  }
  
  .service-box:hover {
    transform: translateY(-4px);
  }
  
  
  .service-box-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
  }
  
  @media screen and (max-width: 768px) {
    .service-box {
      flex: 1 1 100%;
    }
  }
  